:root{
    --vermelho-botao: #e50914;
}

body{
    min-width: 320px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/*Navbar style*/
.principal{
    background: url(/assets/capa-de-fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    border-bottom: 10px solid #222;
    z-index: 1;
}
.principal::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);

}
.logo{
    height: 36px;
    width: 100%;
    max-width: 20%;
    z-index:2;
    
}
.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    z-index: 2;
}

.btn{
    padding: 7px 17px;
    color:#fff;
    background-color: var(--vermelho-botao);
    border: none;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
   
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    z-index: 2;
    outline: none;
}
.btn:hover{
    opacity: 0.5px;
}
.btn-redondo{
    border-radius: 3px;
}
.btn-entrar{
    margin-right: 40px;
    padding:8px 17px;
}
/*Cards*/

/*Card Principal*/
.card-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 8rem;
    z-index: 2;
    width: 100%;
  
}
.card-principal h1{
    font-weight: 700;
    font-size: 3.2rem;
    max-width: 640px;
    margin: 0 0 0 2rem;
    color: #fff;
}
.card-principal h2{
    font-weight: 400;
    font-size: 1.9rem;
    max-width: 640px;
    margin: 1rem auto;
    color: #fff;
}
.card-principal h3{
    font-weight: 400;
    font-size: 1.4rem;
    max-width: 740px;
    padding-top: 2%;
    color: #fff;
}

.btn-vml{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width:200px;
}
form{
    display: flex;
    padding: 50px;
    text-align: center;
}

.input-email{
    font-size: 1.1rem;
    padding: 5px;
    width: 400px;
    outline: none;
    border-radius: 3px;
}

/*Card Secundario*/
.card-secundario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid #222;
    padding: 50px 5%;
    background-color: black;
}
.card-secundario-texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    width: 40%;
    
 
}
.card-secundario-texto h1{
    text-align: center;
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
   
}
.card-secundario-texto h2{
    margin-left: 40px;
    text-align: start;
    font-size: 1.625rem;
    font-weight: 400;
}

.video-tv{
    position: relative;
}
.img-tv{
    position: relative;
    width: 540px;
    height: 350px;
    z-index: 2;
}
.video-netflix{
    position: absolute;
    right: 20px;
    bottom: 80px;
    z-index: 1;
}

/*Card Terciario*/
.card-terciario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 5%;
    border-bottom: 10px solid #222;
    background-color: black;
    
}
.img-celular{
    margin-left: 0px;
}
.stranger-cel{
    max-width: 100%;
    width: 500px;
    height: 365px;
}
.card-terciario-texto{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 40%;
    margin-left: 100px;
    
}
.card-terciario-texto h1{
    text-align: start;
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
}
.card-terciario-texto h2{
    text-align: start;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
}

/*Card quartenario*/
.card-quarternario{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 5%;
    border-bottom: 10px solid #222;
    background-color: black;
}

.card-quartenario-texto{
    display: flex;
    flex-direction: column;
    color: #fff;
    
    width: 100%;
    height: 200px;

}
.card-quartenario-texto h1{
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
}
.card-quartenario-texto h2{
    text-align: start;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
}
.devices{
    position: relative;
}
.img-device{
    position: relative;
    width: 600px;
    height: 450px;
    z-index: 2;
}

.video-device{
    position: absolute;
    right: 100px;
    top: 50px;
    height: 220px;
    z-index: 1;
}








/*Media Queries*/
@media screen and (max-width:557px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
    }
    .input-email{
        padding: 20px;
        width: 300px;
        justify-content: center;
    }
    .btn-vml{
        font-size: 1.2rem;
        padding: 10px;
        width:150px;
        margin-top: 80px;
    }
    .btn-entrar{
        margin-right: 10px;
    }
}

@media screen and (max-width:765px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
    }
    .input-email{
        padding: 20px;
        justify-content: center;
    }
    .btn-vml{
        font-size: 1.2rem;
        padding: 10px;
        width:150px;
        margin-top: 80px;
    }
    .btn-entrar{
        margin-right: 10px;
    }
}
 
@media screen and (max-width:867px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
        margin-left:20px ;
    }
    .input-email{
        padding: 20px;
    }
    .btn-vml{
        font-size: 1.2rem;
        padding: 15px;
        width:140px;
        margin-top: 80px;
    }
    .btn-entrar{
        margin-right: 10px;
    }
}
@media screen and (max-width:949px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: 100%;
        margin-left:20px ;
    }
    .input-email{
        padding: 20px;
    }
    .btn-vml{
        font-size: 1.2rem;
        padding: 15px;
        width:140px;
        margin-top: 80px;
    }
    .btn-entrar{
        margin-right: 10px;
    }
}
 
